# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# Angular CLI project cache
.angular/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
.angular/cache/angular-webpack/8fdc5cedd3fb24208249693bd1a998f670d39755/2.pack
.angular/cache/angular-webpack/8fdc5cedd3fb24208249693bd1a998f670d39755/0.pack
