<div mat-dialog-content>
  <p>Enter message for POST call ...</p>
  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput [(ngModel)]="message.message">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Rating</mat-label>
    <input matInput [(ngModel)]="message.rating" min="1" max="5">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="message" cdkFocusInitial>Save</button>
</div>